<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316217175909-pp3uvpm8nr96k42ff8k59h251d5g8om6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316217175909-pp3uvpm8nr96k42ff8k59h251d5g8om6</string>
	<key>API_KEY</key>
	<string>AIzaSyAVhMSCXXV5eKTvUgH8ZRBt9a58gCtmU-s</string>
	<key>GCM_SENDER_ID</key>
	<string>316217175909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.dartchat</string>
	<key>PROJECT_ID</key>
	<string>dartchat-a35b5</string>
	<key>STORAGE_BUCKET</key>
	<string>dartchat-a35b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316217175909:ios:0a8a288a6918f40e303b8c</string>
</dict>
</plist>